<div class="so-back dashboardOverviewBack" ng-controller="interstellar-basic-client.BalanceWidgetController as widget">
  <div class="so-chunk">
    <div class="dashboardOverviewRow" ng-if="widget.balanceLoaded">
      <p class="dashboardOverviewRow__label">Your balance:</p>
      <p class="dashboardOverviewRow__text">{{widget.balance}} lumens</p>
      <p ng-if="widget.showRefreshButton">
        <button class="s-button" ng-click="widget.loadAccount()">Refresh balance</button>
      </p>
    </div>
    <div class="dashboardOverviewRow">
      <p class="dashboardOverviewRow__label">Your Stellar public key:</p>
      <p class="dashboardOverviewRow__text">{{widget.address}}</p>
    </div>
  </div>
</div>

<div class="so-back" ng-if="widget.accountNotFound">
  <div class="so-chunk">
    <div class="accountUnfunded">
      <div class="s-alert s-alert--warning accountUnfunded__alert">
        This account doesn't exist on the network. To create this account, send it at least 20 lumens (XLM) to fulfill the <a href="https://www.stellar.org/developers/learn/concepts/fees.html#minimum-balance">minimum balance</a>.
      </div>
    </div>
  </div>
</div>