<div class="so-back" ng-controller="interstellar-basic-client.HeaderController as header">
  <div class="so-chunk">
    <div class="so-siteHeader siteHeader">
      <span class="so-logo">
        <a href="https://www.stellar.org/" class="so-logo__main">Stellar</a><!--
        --><span class="so-logo__separator"> </span><!--
        --><a href="https://www.stellar.org/account-viewer/" class="so-logo__subSite">account viewer</a>
      </span>
      <span class="so-siteHeader__simpleAlign siteHeader__signout"><a href="#" ng-click="header.logout()" class="siteHeader__signout__link">Sign out</a></span>
    </div>
  </div>
</div>

<interstellar-basic-client-balance></interstellar-basic-client-balance>

<div class="so-back">
  <div class="so-chunk">
    <interstellar-basic-client-send></interstellar-basic-client-send>
  </div>
</div>

<div class="so-back history">
  <interstellar-basic-client-history></interstellar-basic-client-history>
</div>
