<div class="so-back">
  <div class="so-chunk">
    <div class="so-siteHeader siteHeader">
      <span class="so-logo">
        <a href="https://www.stellar.org/" class="so-logo__main">Stellar</a><!--
        --><span class="so-logo__separator"> </span><!--
        --><a href="https://www.stellar.org/account-viewer/" class="so-logo__subSite">account viewer</a>
      </span>
    </div>
  </div>
</div>

<div class="so-back">
  <div ng-controller="interstellar-basic-client.LoginController as login" class="so-chunk">
    <div class="welcomeBox">
      <h2 class="welcomeBox__title">Stellar Account Viewer</h2>
      <p>Use this lightweight client to send and receive lumens over the Stellar network.</p>
    </div>
    <form ng-submit="login.submit()" class="loginBox">
      <p class="loginBox__label">Secret key:</p>
      <input type="password" ng-model="login.secret" class="loginBox__input" placeholder="Example: SCHKBJ............ZLJ7" />

      <div class="s-alert s-alert--alert" ng-if="login.alerts.length > 0">
        <span ng-repeat="alert in login.alerts">
          {{alert.title}}<br /><br />
          {{alert.text}}
        </span>
      </div>

      <button type="submit" class="s-button loginBox__submit" ng-class="{'is-disabled': login.processing}" ng-disabled="login.processing">Sign in</button>
    </form>
    <div class="middleBox">
        Generate key pair for a new account
        <div class="keypair" ng-if="login.newKeypair">
        Public Key:<br />
        <code>{{login.newKeypair.publicKey}}</code><br />
        Secret Key:<br />
        <code>{{login.newKeypair.secretKey}}</code>
        </div>
        <button type="button" class="s-button loginBox__submit" ng-click="login.generate()">Generate</button>
    </div>
    <div class="middleBox">
      Ledger Nano S ({{login.ledgerStatus}})<br/>
      <button type="button" class="s-button loginBox__submit" ng-click="login.proceedWithLedger()" ng-disabled="!login.ledgerAddress">Proceed with Ledger</button>
    </div>
    <div class="middleBox">
      Looking for a more advanced wallet? <a href="https://www.stellar.org/lumens/wallets/">Proceed here &raquo;</a>
    </div>
    <div class="legacyBox">
      Looking for legacy login? <a href="https://launch.stellar.org/">Proceed here &raquo;</a>
    </div>
  </div>
</div>

<div style="margin-top: 20px; font-size: 14px; text-align: center;">
  <a href="https://www.stellar.org/about/directory#wallets">Try other more advanced Wallets</a>
</div>
