<div class="so-back">
  <div class="so-chunk">
    <div class="so-siteHeader siteHeader">
      <span class="so-logo">
        <a href="https://www.stellar.org/" class="so-logo__main">Stellar</a><!--
        --><span class="so-logo__separator"> </span><!--
        --><a href="https://www.stellar.org/account-viewer/" class="so-logo__subSite">account viewer</a>
      </span>
    </div>
  </div>
</div>

<div class="so-back">
  <div ng-controller="interstellar-basic-client.LoginController as login" class="so-chunk">
    <div class="welcomeBox">
      <h2 class="welcomeBox__title">Welcome to the upgraded network!</h2>
      <p>Sign in here to access your account on the upgraded network. If you haven't upgraded yet, go to launch.stellar.org to do it now.</p>
    </div>
    <form ng-submit="login.submit()" class="loginBox">
      <p class="loginBox__label">Secret key:</p>
      <input type="password" ng-model="login.secret" class="loginBox__input" placeholder="Example: SCHKBJ............ZLJ7" />

      <div class="s-alert s-alert--alert" ng-if="login.alerts.length > 0">
        <span ng-repeat="alert in login.alerts">
          {{alert.title}}<br /><br />
          {{alert.text}}
        </span>
      </div>

      <button type="submit" class="s-button loginBox__submit" ng-class="{'is-disabled': login.processing}" ng-disabled="login.processing">Sign in</button>
    </form>
  </div>
</div>
