.dashboardOverviewRow {
  margin-bottom: 1em;
}
.dashboardOverviewRow:last-child {
  margin-bottom: 0;
}
  .dashboardOverviewRow__label {
    margin-bottom: 0;
  }
  .dashboardOverviewRow__text {
    font-size: $s-scale-2;
    word-wrap: break-word;
    word-break: break-word;
    margin-bottom: 0;
    @include r-media(m) {
      font-size: $s-scale-1;
    }
  }
