.loginBox {
  max-width: 40em;
  padding: 1.5em 2em 2em 2em;
  border: 1px solid $s-color-primary7;
  border-bottom: 0;
  background: $s-color-primary9;
}
.loginBox__label {
  margin-bottom: 0.25em;
}
.loginBox__info {
  font-size: 0.85em;
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}
.loginBox__ledgerAccount {
  font-size: 0.85em;
  margin-top: 0.25em;
  margin-bottom: 0.50em;
  height: 1.5em;
}
.loginBox__ledgerAccount input[type=checkbox] {
  float: left;
  margin-right: 0.50em;
  margin-top: 0.25em;
}
.loginBox__ledgerAccount input[type=text] {
  width: 8em;
  height: 1.5em;
  margin-left: 1.5em;
  margin-bottom: 0em;
  padding: 0.5em;
}
.loginBox__input {
  display: block;
  width: 100%;
  margin-bottom: 1em;
}
.loginBox__submit {
  padding-left: 2em;
  padding-right: 2em;
  @include r-media(s) {
    padding-left: 5em;
    padding-right: 5em;
  }
}
.loginBox__warning {
  color: $s-color-alert;
}
