.sendOutcome {
}
  .sendOutcome__label {
    text-align: center;
    font-size: $s-scale-3;
  }
  .sendOutcome__code {
    background: $s-color-neutral8;
    padding: 1em;
  }
  .sendOutcome__return {
    display: block;
    margin: 0 auto;
  }
