.sendWaiting {
}
  .sendWaiting__rocket {
    padding: 3em 0;
    text-align: center;
  }
  .sendWaiting__status {
    text-align: center;
    font-size: $s-scale-3;
  }
  .sendWaiting__ledger {
    text-align: center;
    font-size: $s-scale-4;
  }
