@import "solar-css/lib/index";
@import "solar-css/styles/index";

@import "solar-stellarorg/lib/index";
@import "solar-stellarorg/styles/index";


@import "siteHeader";

@import "loginBox";
@import "welcomeBox";

@import "dashboardOverviewBack";
@import "dashboardOverviewRow";

@import "accountUnfunded";

@import "sendConfirm";
@import "sendOutcome";
@import "sendPane";
@import "sendSetup";
@import "sendWaiting";
@import "additionalSigners";

@import "history";
@import "historyTable";


.sendSetup, .sendConfirm, .sendWaiting, .sendOutcome {
  max-width: 37em;
  margin: 0 auto 3em 0;
}
.sendConfirm, .sendWaiting, .sendOutcome {
  margin: 0 auto 3em auto;
}
